/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_style
 *= require jquery-ui/datepicker
 *= requrei slider-pro.min
 *= require_self
 *= require_tree .
 */
  @import "font-awesome";

//<<<<<<<<<<<<<<<<<<<<<<<< GENERAL SETTING >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
//******************* ELEMENTS *******************
//******************* ELEMENTS *******************
html{
	overflow:auto
}
body{
	overflow: hidden;
}
html, body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
 font-family: 'Oswald', sans-serif;
 background-color: white;
 color: black;
 }
 .margin-adjustment {
 	margin-top:130px;
 }
 button{
	background-color: white;
	border: 1px solid lightgray;
	padding: 15px 10px;
	color: black;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-size: 11px;
	border-radius: 2px;
	&:hover {
	box-shadow: 0 0 10px lightgray;
	}
	&:active {
    box-shadow: 0 0 10px lightgray;
  	}
}
 .line-height {
	line-height: 100%;
}
div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
a {
  color: black;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-weight: 100;
  &:hover {
    opacity: 1;
    text-decoration: none;
    text-shadow: 0.5px 0.5px black;
  }
  &:active {
    text-decoration: none;
  }
}
img {
	&:hover {
	opacity: 0.8;
	cursor: pointer;
	}
}
h1, h2, h3, h4, h5, h6, p, ol, ul, th, td {
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 100;
}
p, ol, ul, th, td {
  	font-family: 'Roboto', sans-serif;
}
p, ol, ul, td {
	font-weight: 100;
}
table {
	border: none;
	width: 100%;
	padding: 40px;
}
th {
	font-weight: 400;
	margin: 0 5px;
}
ul{
	list-style:none;
	padding:0;
	margin:0;
	li{
		padding:10px 0;
		margin: 5px 0;
		box-shadow: 0 0 10px lightgrey;
		border-radius:10px;
		cursor: pointer;
		&:hover {
			box-shadow: 0 0 12px grey;
		}
		span{
			margin: 0 5px;
		}
	}
}
span{
	display:inline-block;
	margin: 0 5px;
}
label {
  display: block;
  font-weight: 300;
}
textarea {
	height: 50px;
}
input, textarea, select {
	width: 100%;
	box-shadow: 0 0 10px lightgray;
	border: 0.3px inset lightgray;
	background-color: white;
	font-weight: 100;
	font-size: 14px;
	color: black;
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}
input[type="submit"], input[type="button"] {
	width: 100%;
	cursor: pointer;
    &:hover {
    	background-color: white;
		color: black;
		border: 2px solid black;
    }
}

//  FOR ITEMS THAT SHOULD BE HIDDEN ONLY ON LAPTOP
 .ltHide {
 	display: none;
 }
//******************* ELEMENTS *******************
//******************* ELEMENTS *******************

//******************* ELEMENTS *******************
//******************* ELEMENTS *******************
.hidden {
	display: none;
}
.btn {
	background-color: white;
	border: 1px solid lightgray;
	padding: 15px 10px;
	color: black;
	cursor: pointer;
	font-family: 'Oswald', sans-serif;
	font-size: 11px;
	border-radius: 2px;
	&:hover {
	box-shadow: 0 0 10px lightgray;
	}
	&:active {
    box-shadow: 0 0 10px lightgray;
  	}
}
.activeBtn {
	background-color: lightgray;
}
.loginAlert {
	color: lightgray;
}
.container {
	width: 100%;
	margin: 0;
	padding: 0;
}
.row {
	width: 100%;
	margin: 0;
	padding: 0 5%;
	display: flex;
	box-sizing: border-box;
}
.col-lg-1 {
	width: 10%;
	padding:2%;
}
.col-lg-2 {
	width: 20%;
	padding:2%;
}
.col-lg-3 {
	width: 30%;
	padding:2%;
}
.col-lg-4 {
	width: 40%;
	padding:2%;
}
.col-lg-5 {
	width: 50%;
	padding:2%;
}
.col-lg-6 {
	width: 60%;
	padding:2%;
}
.col-lg-7 {
	width: 70%;
	padding:2%;
}
.col-lg-8 {
	width: 80%;
	padding:2%;
}
.col-lg-9 {
	width: 90%;
	padding:2%;
}
.col-lg-10 {
	width: 100%;
	padding:2%;
}

//1/4 GRID
.qua-col {
	width: 25%;
	padding: 2%;
}

//******************* MARGIN *******************
//******************* MARGIN *******************
.m-0 {
	margin: 0;
}
.mb-20 {
	margin-bottom: 20px;
}
.mr-20 {
	margin-right: 20px;
}
.mr-10 {
	margin-right: 10px;
}
.ml-10 {
	margin-left: 10px;
}
//******************* MARGIN *******************
//******************* MARGIN *******************

// BG color
.bg-gray {
	background-color: #F3F2F5;
}
// BG color
//******************* PADDING *******************
//******************* PADDING *******************
.pr-narrow {
	padding-right: 5px !important;
}
.pl-narrow {
	padding-left: 5px !important;
}
.pr-10 {
	padding-right: 10px;
}
.pl-10 {
	padding-left: 10px;
}
.pt-10 {
	padding-top: 10px;
}
.pb-10 {
	padding-bottom: 10px;
}
//******************* PADDING *******************
//******************* PADDING *******************

//******************* POSITION *******************
//******************* POSITION *******************
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.flex {
	display: flex;
}
.align_bottom {
	align-items: flex-end;
}
.inline-block {
	display: inline-block;
}
.block {
	display: block;
}
//******************* POSITION *******************
//******************* POSITION *******************

//******************* FONT *******************
//******************* FONT *******************
.font-light {
 font-weight: light;
 }
.bold {
	font-weight: bold;
}
.black {
	color: black;
}
.linkRighteous {
		font-family: 'Oswald', sans-serif;
}
.jp_text {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 100;
}
//******************* FONT *******************
//******************* FONT *******************



//******************* HEADER *******************
//******************* HEADER *******************
#header-subline {
	margin:0;
	font-weight:100;
	color:white;
}
.header-logo {
 font-weight: bold;
 font-size: 50px;
 font-family: 'Righteous', cursive;
 color: white;
 margin:0;
 	.logo-other{
 		margin:0;
 		font-size:30px;
 		font-style: italic;
 	}
 	.logo-pink{
 		color:#E6C3D5;
 		margin:0;
 		font-style: italic;
 	}
 }
.admin-nav {
	background-color: lightgray;
	width: 100%;
	margin: 0;
	padding: 30px 0;
}
.public_nav {
	width: 100%;
	margin: 0;
	background-color: white;
	color: black;
}
 #nav, #navnormal {
	background-color: white;
	z-index: 2;
	//position: fixed;
	width: 100%;
	top: 0;
	position:fixed;
	top:0;
	width:100%;
	background-color:black;
}
#userModal {
	background-color: black;
	color: white;
	width: 200px;
	margin: 5px 0 5px auto;
	cursor: pointer;
	a {
	color: white;
	}
	:hover {
	opacity: 1;
	cursor: pointer;
	}
}

#menu {
	font-family: 'Oswald',
	sans-serif;
	font-size: 18px;
	padding: 10px 10px 5px 0;
	color: white;
}
// NAV
#navBtn {
	width: 100px;
	height: 100px;
	border-radius:0 0 0 100%;
	position:absolute;
	top: 0;
	right: 0;
	background-color: #E6C3D5;
	cursor: pointer;
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#nav1 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:absolute;
	top: 0px;
	right: 150px;
	background-color: #E6C3D5;
	text-align:center;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#nav2 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:absolute;
	top: 60px;
	right: 135px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#nav3 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:absolute;
	top: 110px;
	right: 110px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#nav4-1, #nav4-2 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:absolute;
	top: 135px;
	right: 60px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#nav5-1, #nav5-2 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:absolute;
	top: 150px;
	right: 0px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}

#navToConcert p, #navToArtist p, #navToVenues p, #navToUser p, #navToLogin p, #navToLogout p, #navToAbout p {
	display:none;
}
// NAV

#loginAlertModal {
	width: 200px;
	height: 200px;
	border-radius:0 0 0 100%;
	position:absolute;
	top: 0;
	right: 0;
	background-color: #E6C3D5;
	cursor: pointer;
	box-shadow: 0 0 10px lightgray;
	border: 0.3px inset lightgray;
	text-shadow: 0.5px 0.5px black;
}
.loginAlert{
	cursor:pointer;
	&:hover {
		opacity:0.9;
		color: red;
	}
}
#signIn {
	&:hover {
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
		border-radius:50%;
		opacity:0.8;
	}
}
#signUp {
	&:hover {
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
		border-radius:50%;
		opacity:0.8;
	}
}
//******************* HEADER *******************
//******************* HEADER *******************

//******************* FOOTER *******************
//******************* FOOTER *******************
// FOOTER ADMIN NAV
#adminNavBtn {
	width: 100px;
	height: 100px;
	border-radius:100% 0 0 0;
	position:fixed;
	bottom: 0;
	right: 0;
	background-color: #E6C3D5;
	cursor: pointer;
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#adminNav1 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:fixed;
	bottom: 0px;
	right: 150px;
	background-color: #E6C3D5;
	text-align:center;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#adminNav2 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:fixed;
	bottom: 60px;
	right: 135px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#adminNav3 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:fixed;
	bottom: 110px;
	right: 110px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#adminNav4 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:fixed;
	bottom: 135px;
	right: 60px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#adminNav5 {
	width: 50px;
	height: 50px;
	border-radius:50%;
	position:fixed;
	bottom: 150px;
	right: 0px;
	background-color: #E6C3D5;
	a{
		width: 100px;
		height: 100px;
		margin: 0;
		padding: 0;
		line-height:50px;
		&:hover{
			text-decoration:none;
		}
	}
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
// FOOTER ADMIN NAV

//
#backBtn {
	width: 100px;
	height: 100px;
	border-radius:100% 0 0 0;
	position:fixed;
	bottom: 0;
	right: 0;
	background-color: #E6C3D5;
	cursor: pointer;
	&:hover{
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		text-shadow: 0.5px 0.5px black;
	}
}
#whiteTopCover {
	height: 30px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 100px;
}
#whiteBottomCover {
	height: 30px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: -30px;
}
//
//******************* FOOTER *******************
//******************* FOOTER *******************

//******************* FUNCTIONS *******************
//******************* FUNCTIONS *******************
#notice {
  color: black;
  background-color: black;
  border-radius: 10px;
  margin: 0;
  z-index: 1000;
  padding: 5px 10px;
  display: inline-block;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  opacity: 0.8;
}
.field_with_errors {
  padding: 2px;
  background-color: #E6C3D5;
  display: table;
}
#error_explanation {
  width: 450px;
  border: 2px solid #E6C3D5;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    padding: 5px 5px 5px 15px;
    background-color: #000;
    color: #black;
  }

  ul li {
    font-size: 12px;
    list-style: square;
    color: black;
  }
}

// AJAX TRANSACTING
#loading {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightgray;
  opacity: 0.5;
}
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("/images/loading.jpg") center center no-repeat;
  background-size: 20% 40%;
  font-size: 40px;
  color: white;
  font-family: 'Oswald', sans-serif;
}
.loading {
	display: none;
	z-index: 1000;
}
//REFERENCE ---> https://webllica.com/jquery-now-loading/
// AJAX TRANSACTING

.boxShadow{
	box-shadow: 0 0 10px lightgray;
	border: 0.3px inset lightgray;
}
//******************* FUNCTIONS *******************
//******************* FUNCTIONS *******************

//<<<<<<<<<<<<<<<<<<<<<<<< PARTIAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>
.concertContainer td {
	font-size: 16px;
	padding: 10px 20px;
	margin: 20px 10px;
}
#loginView {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  width: 80%;
  height: 70%;
  background-color: pink;
  z-index: 1000;
  border-radius: 20px;
}
//<<<<<<<<<<<<<<<<<<<<<<<< PARTIAL >>>>>>>>>>>>>>>>>>>>>>>>>>>>>

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	.margin-adjustment {
 	margin-top: 120px;
 	}
 	.ltHide {
 		display: block;
 	}
	.header-logo .logo-pink{
		color: deeppink;
	}
	.row {
		flex-direction: column;
	}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
		width: 100%;
		padding: 5px;
	}
	#header-subline {
		font-size: 0.6rem;
	}
	.header-logo {
		font-size:1rem;
	 	.logo-other{
	 		font-size:0.6rem;
	 	}
	 	.logo-pink{
	 		font-size:1rem;
	 	}
	 }
	 #menu {
	 	font-size: 0.7rem;
	 	padding: 5px 10px 5px 5px;
	 }

	 // HEADER NAVIGATION
	#nav {
		height: 60px;
	}
	#navBtn {
	width: 50px;
	height: 50px;
	}
	#nav1 {
	width: 30px;
	height: 30px;
	top: 60px;
    right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav2 {
		width: 30px;
		height: 30px;
		top: 100px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav3 {
		width: 30px;
		height: 30px;
		border-radius:50%;
		top: 140px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav4-1, #nav4-2 {
		width: 30px;
		height: 30px;
		top: 180px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav5-1, #nav5-2 {
		width: 30px;
		height: 30px;
		top: 220px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	// HEADER NAVIGATION END

	.public_nav {
		padding: 30px 0;
		h1 {
			padding: 0;
		}
		div {
			flex-direction: column;
		}
	}
	// FOOTER ADMIN NAV
	#adminNavBtn {
		width: 50px;
		height: 50px;
		h3 {
			padding: 20px 3px 0 5px;
			font-size: 0.8rem;
			margin: 0;
		}
	}
	#adminNav1 {
		width: 30px;
		height: 30px;
		bottom: 0px;
		right: 150px;
	}
	#adminNav2 {
		width: 30px;
		height: 30px;
		bottom: 60px;
		right: 135px;
	}
	#adminNav3 {
		width: 30px;
		height: 30px;
		bottom: 110px;
		right: 110px;
	}
	#adminNav4 {
		width: 30px;
		height: 30px;
		bottom: 135px;
		right: 60px;
	}
	#adminNav5 {
		width: 30px;
		height: 30px;
		bottom: 150px;
		right: 0px;
	}
	// FOOTER ADMIN NAV

	.spHide, .userSpHide, .adminSpHide {
		display: none;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	.margin-adjustment {
 	margin-top:90px;
 	}
 	.ltHide {
 		display: block;
 	}
	.row {
		flex-direction: column;
	}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10 {
		width: 100%;
		padding: 5px;
	}
	#header-subline {
		font-size: 0.6rem;
	}
	.header-logo {
		font-size:1rem;
	 	.logo-other{
	 		font-size:0.6rem;
	 	}
	 	.logo-pink{
	 		font-size:1rem;
	 	}
	 }
	.header-logo .logo-pink{
		color: 	#E6E6FA;
	}
	#menu {
	 	font-size: 0.7rem;
	    padding: 5px 10px 5px 5px;
	 }
	#nav {
		height: 60px;
	}
	#navBtn {
	width: 50px;
	height: 50px;
	}
	#nav1 {
	width: 30px;
	height: 30px;
	top: 60px;
    right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav2 {
		width: 30px;
		height: 30px;
		top: 100px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav3 {
		width: 30px;
		height: 30px;
		border-radius:50%;
		top: 140px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav4-1, #nav4-2 {
		width: 30px;
		height: 30px;
		top: 180px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	#nav5-1, #nav5-2 {
		width: 30px;
		height: 30px;
		top: 220px;
		right: 0px;
		a{
			width: 100px;
			height: 100px;
			line-height:50px;
		}
	}
	.spHide, .userSpHide, .adminSpHide {
		display: none;
	}
}