// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.artistImageBox {
	border: 2px solid black;
	width: 400px;
	height: 300px;
}
.artistList {
	padding: 10px;
    margin: 20px 0;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .artistListImage {
    	// width: 60px;
    	padding: 0 3px;
    	display: inline-block;
    	img {
    		width: 60px;
    		height: 40px;
    	}
    }
    .artistListRight {
    	margin: 0;
    	padding: 0;
    	display: flex;
    	flex-direction: row;
    	align-items: center;
    	justify-content: space-around;
    	.artistListArtistName {
	    	width: 200px;
	    	padding-left: 10px;
	    	a {
	    		font-size: 18px;
	    	}
    	}
    	.artistListArtistMbId {
	    	font-size: 10px;
	    	width: 200px;
	    	padding:0 10px;
	    }
	    .artistListThirdLine {
	    	display: flex;
	    	flex-direction: row;
	    	margin: 0;
	    	padding: 0;
	    	.artistListConcerts {
		    	width: 50px;
		    	padding: 0 10px;
		    	display: inline-block;
		    }
		    .artistListWatchArtist {
		    	width: 50px;
		    	padding: 0 10px;
		    	display: inline-block;
		    }
	    }
	    #artistContainerAdmin{
			display: flex;
		    flex-direction: row;
		    align-items: center;
		}
    }

}

#yt {
	width: 640px;
	height: 360px;
}
.createWatch{
	cursor:pointer;
	&:hover{
		text-decoration:none;
		opacity:0.8;
	}
}
.removeWatch{
	cursor:pointer;
	color:#E6C3D5;
	&:hover{
		text-decoration:none;
		opacity:0.8;
	}
}
.textBtn {
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 18px;
	width:250px;
	&:hover {
	opacity:0.9;
	}
}

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px){
	// .artistList {
	// 	padding: 10px;
	//     margin: 20px 0;
	//     .artistListImage {
	//     	padding: 0 8px;
	//     }
	//     .artistListArtistName {
	//     	a {
	//     		font-size: 0.8rem;
	//     	}
	//     }
	//     .artistListArtistMbId {
	//     	font-size: 0.4rem;
	//     }
	//     .artistListConcerts {
	//     	font-size: 0.4rem;
	//     }
	//     .artistListWatchArtist {
	//     	width: 50px;
	//     	padding: 0 10px;
	//     }
	// }

	.artistList {
		// padding: 10px;
	 //    margin: 20px 0;
	 //    box-shadow: 0 0 10px lightgrey;
	 //    border-radius: 10px;
	 //    cursor: pointer;
	 //    display: flex;
	    // flex-direction: row;
	    // align-items: center;
	    // justify-content: space-around;
	    // .artistListImage {
	    // 	// width: 60px;
	    // 	padding: 0 3px;
	    // 	display: inline-block;
	    // 	img {
	    // 		width: 60px;
	    // 		height: 40px;
	    // 	}
	    // }
	    .artistListRight {
	    	// margin: 0;
	    	// padding: 0;
	    	// display: flex;
	    	flex-direction: column;
	    	padding: 0 0 0 10px;
	    	// align-items: center;
	    	// justify-content: space-around;
	    	.artistListArtistName {
		    	// width: 200px;
		    	padding-left: 0;
		    	a {
		    		font-size: 1rem;
		    	}
	    	}
	    	.artistListArtistMbId {
		    	font-size: 0.4rem;
		    	// width: 200px;
		    	padding: 0;
		    }
		    .artistListThirdLine {
		    	display: flex;
			    margin: 0;
			    padding: 0;
			    width: 100%;
		    	.artistListConcerts {
		    		    font-size: 0.8rem;
    					line-height: 1.5rem;
			    	width: auto;
			    	// padding: 0 10px;
			    	// display: inline-block;
			    }
			    .artistListWatchArtist {
			    	width: auto;
			    	// padding: 0 10px;
			    	// display: inline-block;
			    }
		    }
		    #artistContainerAdmin{
				// display: flex;
			 //    flex-direction: row;
			 //    align-items: center;
			}
	    }

	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px){

}
