// Place all the styles related to the Concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// PARTIAL
.spLtCustom {
	display: flex;
    align-items: center;
    justify-content: space-around;
}
.concertContainerDate {
	font-size: 18px;
	width:50px;
	color: gray;
}
.concertName {
	display: inline-block;
	width:300px;
}
#cityCell {
	display: inline-block;
	font-size: 12px;
	width: 70px;
	text-align:right;
	font-weight: 100;
	padding:0 10px 0 0;
}
#countryCell {
	display: inline-block;
	font-size: 12px;
	padding-right: 3px;
	width: 100px;
	font-weight: 100;
	padding:0 10px 0 0;
}
#concertsContainerCountryFlag {
	display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
}
.concertContainerSources {
	display: inline-block;
	padding:0;
}
.concertContainerAdmin {
	display: flex;
    align-items: center;
    padding:0 10px;
    #concertContainerDelete {
    	display: inline-block;
    	padding: 0 10px;
    }
}
.planColumn {
	display: inline-block;
	text-align: center;
}
// ADMIN
.adminDateCheck {
	margin: 50px 0;
	text-align: center;
}
#adminContainerVenueFlag {
	display: inline-block;
}
// PARTIAL

// ************* Concerts#index *************
.concert {
	position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    background-color: white;
    &:hover {
    	box-shadow: 0 0 12px grey;
    }
}
.slide_image {
	width: 600px;
	height: 400px;
}
.slideBox {
	width: 75%;
	height: auto;
	position: relative;
	margin: 0 auto;
}
// ************* Concerts#index END *************

// ************* Concerts#show *************
#concertsShowDateUl {
	background-color: lightgray;
	color: gray;
	list-style: none;
	text-align: center;
	padding: 20px 25px 15px 25px;
	margin: 0;
	font-size: 30px;
	font-family:'Roboto',sans-serif;
	box-shadow: 0 0 10px lightgray;
	li {
		box-shadow:none;
	}
}
#concertsShowDescUl {
	margin-left: 20px;
	li {
		box-shadow: none;
		h1 {
			margin: 0;
			span {
				font-size: 16px;
				margin: 0 5px;
			}
		}
	}
}
.highlight1 {
	background-color: #BFA3B2;
	box-shadow: 0 0 10px lightgray;
}
.highlight2 {
	background-color: #E6C3D5;
	box-shadow: 0 0 10px lightgray;
}
.planHover {
	&:hover{
		// box-shadow: 0 0 10px gray;
	}
}
.pagination {
	margin: 20px 0;
	display: flex;
    justify-content: center;
}

#concertsShowImage {
	img {
		width: 845px;
		height: 500px;
	}
}
#concertShowMap {
	width:100%;
	height:100%;
}
.concertsShowDetails {
	display: flex;
    flex-direction: row;
	#concertShowMap {
		width: 50%;
		height: 210px;
		display: inline-block;
	}
	.concertsShowDetailsRight {
		width: 40%;
		height: 210px;
		vertical-align: top;
		display: inline-block;
		.concertsShowPerformer {
			margin: 20px;
			display: flex;
    		align-items: center;
			.concertsShowPerformerImage {
				display: inline-block;
				height: 40px;
				position: relative;
				box-shadow:none;
				width: 50px;
				img {
					border-radius: 50%;
					margin: 0 10px;
				}
				h4 {
					display: inline-block;
					width: 200px;
					height: 40px;
					position: absolute;
					top: 0;
					left: 50px;
					margin: 10px 3px;
				}
				span {
					left: 250px;
					position: absolute;
					padding: 5px 0 0 0;
				}
			}
		}
		.concertsShowTicket {
			height: 50px;
			padding: 0;
			box-shadow: none;
			margin: 20px;
			i {
				margin-left: 12px;
				width: 40px;
			}
		}
		.concertsShowMapArea {
			height: 50px;
			padding: 0;
			box-shadow: none;
			margin: 20px;
			i {
				margin-left: 16px;
				width: 40px;
			}
			h4 {
				display: inline-block;
				margin: 0;
			}
		}
	}
}
.hidden {
	display: none;
}
// ************* Concerts#show END *************

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	.slide_image {
	width: 780px;
	height: 440px;
	}
	.concertContainerDate {
		font-size: 1rem;
		width: auto;
	}
	.spLtCustom {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
		.concertName {
			font-size: 0.8rem;
			width: 100%;
			word-wrap: break-word;
			line-height: 0.8em;
			a{
				font-size: 0.7rem;
				width: 100%;
				word-wrap: break-word;
				font-weight: 400;
			}
		}
		.concertsContainerLocations {
			display: flex;
			flex-direction: row;
			width: 100%;
			#cityCell, #countryCell {
			font-size: 0.6rem;
			width: auto;
			padding: 0 5px;
			text-align: right;
			}
		}
		.concertsConainerBtns {
			display: flex;
			flex-direction: row;
		}
	}
	.adminDateCheck {
		margin: 0;
	}
	#concertsShowImage {
		img {
			width: 680px;
			height: 390px;
		}
	}
	// ADMIN
	#activeAdminBox {
	    margin: 20px 0;
	}
	#adminTitle1 {
		text-align: center;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	.slide_image {
	width: 300px;
	height: 170px;
	}
	#concertsShowKeepBtn {
		display: inline-block;
		z-index: 100000000;
		position: fixed;
		top: 70px;
		right: 0px;
		.concertShowKeep {
			background-color: #E6C3D5;
			display: inline-block;
			padding: 10px;
			border-radius: 50%;
			box-shadow: 0.5px 0.5px grey;
			z-index: 100000000;
		}
	}
	.concertContainerDate {
		font-size: 1rem;
		width: auto;
	}
	.spLtCustom {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 5px;
		.concertName {
			font-size: 0.8rem;
			width: 100%;
			word-wrap: break-word;
			line-height: 0.8em;
			a{
				font-size: 0.7rem;
				width: 100%;
				word-wrap: break-word;
				font-weight: 400;
			}
		}
		#concertsContainerLocations {
			display: flex;
			flex-direction: row;
			width: 100%;
			#cityCell, #countryCell {
			font-size: 0.6rem;
			width: auto;
			padding: 0 5px;
			text-align: right;
			}
		}
		#concertsConainerBtns {
			display: flex;
			flex-direction: row;
		}
	}
	.adminDateCheck {
		margin: 0;
	}
	#concertsShowImage {
		img {
			width: 280px;
			height: 155px;
		}
	}
	#concertsShowSpModif {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.concertsShowDetails {
		flex-direction: column;
		width: 80%;
		#concertShowMap {
			width: 100%;
		}
		.concertsShowDetailsRight {
			width: 100%;
			.concertsShowPerformer {
				display: flex;
    			align-items: center;
				.concertsShowPerformerImage {
					display: inline-block;
					height: 40px;
					position: relative;
					box-shadow:none;
					width: 50px;
					img {
						margin: 0;
					}
				}
				h4 {
					display: inline-block;
					margin: 10px 3px;
				}
				span {
					padding: 5px 0 0 0;
				}
			}
			.concertsShowTicket {
				height: 50px;
				padding: 0;
				box-shadow: none;
				display: flex;
    			align-items: center;
    			margin: 20px;
				i {
					margin-left: 12px;
					width: 40px;
				}
			}
			.concertsShowMapArea {
				height: 50px;
				padding: 0;
				box-shadow: none;
				display: flex;
    			align-items: center;
    			margin: 20px;
				i {
					margin-left: 16px;
					width: 40px;
				}
				h4 {
					display: inline-block;
					margin: 0;
				}
			}
		}
	}
}