// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topNews, #allNews, #artistShowEntryUl {
	padding: 5px 10px;
    border-radius: 3px;
    border: 1px gray solid;
    box-shadow: 1px 1px lightgrey;
    margin: 25px 0;
    text-align: center;
    h4 {
    	padding: 5px 10px;
	    border-radius: 3px;
	    border: 1px gray solid;
	    box-shadow: 1px 1px lightgrey;
	    background-color: white;
	    text-align: left;
	    a {
	    	font-family: 'Oswald', sans-serif;
	    }
    }
}
.eachNews {
	text-align: left;
	font-size: 14px;
	padding: 0;
	p {
		margin: 0 0 20px 0;
	}
}

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	.eachNews {
		text-align: left;
		font-size: 14px;
		width: 190px;
		margin: 0 auto;
		p {
			padding: 0;
		}
	}
	#allNews {
		display: none;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	.eachNews {
		text-align: left;
		font-size: 14px;
		width: 190px;
		margin: 0 auto;
		p {
			padding: 0;
		}
	}
	#allNews {
		display: none;
	}
}