// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#topNews, #allNews, #artistShowEntryUl {
	padding: 5px 10px;
    border-radius: 3px;
    border: 1px gray solid;
    box-shadow: 1px 1px lightgrey;
    margin: 25px 0;
    h4 {
    	padding: 5px 10px;
	    border-radius: 3px;
	    border: 1px gray solid;
	    box-shadow: 1px 1px lightgrey;
	    background-color: white;
	    a {
	    	font-family: 'Oswald', sans-serif;
	    }
    }
}