// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myMapUser {
	height: 800px;
    width: 100%;
}
#userModalBtn {
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
}

//******************* ABOUT *******************
//******************* ABOUT *******************
#aboutFillMargin {
	background-color: black;
	width: 100%;
	height: 30px;
	top: 100px;
	position: absolute;
}
.about_page {
	width: 100%;
	height: 100vh;
}
#aboutTop {
	position:relative;
	width: 100%;
	height: 100vh;
	text-align:center;
	top: 0;
}
.textBox {
	z-index: 1;
    position: absolute;
    top: 0;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	h1 {
		margin: 0;
		font-family: 'Righteous', cursive;
		color: white;
		padding-top: 30px;
		.aboutLogoPink {
			font-size: 70px;
			color: #E6C3D5;
			margin: 0;
			font-style: italic;
		}
		.aboutLogoWhite {
			font-size: 50px;
			margin: 0;
			font-style: italic;
		}
	}
	h2 {
		font-size: 50px;
		color: white;
	}
	p.jp_text {
		font-size: 30px;
		text-shadow: 2px 2px 2px darkgrey;
		color: white;
	}
}
#aboutTopBg {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	&::before {
		background-color: black;
	    opacity: 0.8;
	    content: '';
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
	img {
		width: 100%;
		height:100%;
	}
}
#aboutCatch {
	position:relative;
	width: 100%;
	.aboutHeadline {
		position: absolute;
		top: 0;
		width: 90%;
		height: 100%;
		color: black;
		padding: 50px;
		font-size: 50px;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			color: white;
			font-size: 50px;
		}
		p.jp_text {
			font-size: 30px;
			text-shadow: 2px 2px 2px darkgrey;
			color: white;
		}
		h4 {
			text-align: right;
			font-family: 'Righteous', cursive;
			span.aboutMapLogoPink {
				font-size: 50px;
				color: #E6C3D5;
				margin: 0;
				font-style: italic;
			}
			span.aboutMapLogoWhite {
				font-size: 30px;
				margin: 0;
				font-style: italic;
				color: white;
			}
		}
	}
}
#aboutMap {
	width: 100%;
	height: 100%;
	position:relative;
	&::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index:2;
  }
}
#aboutCheck {
	background-color: #E6C3D5;
	width: 100%;
	div {
		width: 100%;
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			font-size: 70px;
		}
		p.jp_text {
			font-size: 30px;
			text-shadow: 2px 2px 2px darkgrey;
		}
	}
}
#aboutPlan {
	background-color: lightgray;
	width: 100%;
	div {
		width: 100%;
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			font-size: 70px;
			text-shadow: 2px 2px 2px white;
		}
		p {
			text-shadow: 2px 2px 2px white;
		}
		p.jp_text {
			font-size: 30px;
			text-shadow: 2px 2px 2px white;
		}
	}
}
#aboutFly {
	background-color: #E6C3D5;
	width: 100%;
	div {
		width: 100%;
		height: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1 {
			font-size: 70px;
		}
		p.jp_text {
			font-size: 30px;
			text-shadow: 2px 2px 2px darkgrey;
		}
	}
}
#aboutAction {
	background-color: white;
	position:relative;
	width: 100%;
	h1, p {
		color:white;
	}
	color:white;
	.actionBtn {
		z-index: 1;
		position: absolute;
		top: 0;
		color: black;
		width: 100%;
		height: 100%;
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
		a {
			color: black;
		}
	}
	#getStarted {
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
	}
	p.jp_text {
		font-size: 30px;
		text-shadow: 2px 2px 2px darkgrey;
	}
}
#aboutActionBg {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	&::before{
		background-color: black;
	    opacity: 0.8;
	    content: '';
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
	img {
		width: 100%;
		height: 100%;
		opacity: 0.5;
	}
}
#aboutNav {
	z-index: 5000;
	position:fixed;
	top:150px;
	right:0;
	height:470px;
	width:50px;
	color:white;
	a {
		color: white;
	}
}
.verticalAboutNavContainer{
	width:50px;
	margin:0;
	position:fixed;
	top:140px;
	right:0;
	text-align:center;
}
.verticalAboutNavInner {
	width:50px;
	margin:10px 5px;
}

//******************* ABOUT *******************
//******************* ABOUT *******************


// INDEX
.usersIndexList {
	// THIS IS SAME TO ROW
	width: 100%;
    margin: 0;
    padding: 0 5%;
    display: flex;
    box-sizing: border-box;
	align-items: center;
}
.removeAdmin {
	width: 90px;
	background-color: #E6C3D5;
	border: 2px solid #E6C3D5;
	text-align: center;
}
.addAdmin {
	width: 90px;
	text-align: center;
}

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	#myMapUser {
		height: 300px;
	}
	// INDEX
	.usersIndexList {
		flex-direction: row;
		justify-content: space-around;
	}
	.textBox {
		h1 {
			padding-top: 20px;
			.aboutLogoPink {
				font-size: 2rem;
			}
			.aboutLogoWhite {
				font-size: 1.5rem;
			}
		}
		h2 {
			font-size: 1.5rem;
		}
		p {
			padding: 0 20px;
			font-size: 0.7rem;
		}
		p.jp_text {
			padding: 0 20px;
			font-size: 0.7rem;
		}
	}
	#aboutCatch {
	.aboutHeadline {
		h1 {
			font-size: 2rem;
		}
		p {
			padding: 0 20px;
			font-size: 0.7rem;
		}
		p.jp_text {
			padding: 0 20px;
			font-size: 0.7rem;
		}
		h4 {
			span.aboutMapLogoPink {
				font-size: 1.5rem;
			}
			span.aboutMapLogoWhite {
				font-size: 1rem;
				}
			}
		}
	}
	#aboutMap {
	}
	#aboutCheck {
		div {
			h1 {
				font-size: 2rem;
			}
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
			p.jp_text {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutPlan {
		div {
			h1 {
				font-size: 2rem;
			}
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
			p.jp_text {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutFly {
		div {
			h1 {
				font-size: 2rem;
			}
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
			p.jp_text {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutAction {
		p {
			padding: 0 20px;
			font-size: 0.7rem;
		}
		p.jp_text {
				padding: 0 20px;
				font-size: 0.7rem;
			}
	}
	#aboutFillMargin {
		height: 70px;
    	top: 50px;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	#myMapUser {
		height: 200px;
	}
	// INDEX
	.usersIndexList {
		.usersIndexEmail {
			font-size: 0.8rem;
		}
		.btn {
			padding: 5px;
		}
	}
	.removeAdmin, .addAdmin {
		width: 50px;
    	font-size: 0.5rem;
	}
	.usersIndexCreatedAt {
		font-size: 0.6rem;
	}
	.textBox {
		top: 50%;
		height: 50%;
		background-color: black;
	}
	#aboutCatch {
		.aboutHeadline {
			padding: 20px;
			font-size: 2rem;
		}
	}
	#aboutCheck {
		div {
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutPlan {
		div {
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutFly {
		div {
			p {
				padding: 0 20px;
				font-size: 0.7rem;
			}
		}
	}
	#aboutFillMargin {
		height: 40px;
		top: 50px;
	}
	#aboutTopBg {
		height: 50%;
		&::before {
		    height: 50%;
		}
	}
}



