// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#myMapUser {
	height: 800px;
    width: 100%;
}
#userModalBtn {
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
}

//******************* ABOUT *******************
//******************* ABOUT *******************
.about_page {
	width: 100%;
	height: 100vh;
}
#aboutTop {
	position:relative;
	width: 100%;
	height: 100vh;
	text-align:center;
	top:-15px;
}
.textBox {
		z-index: 1;
		position:absolute;
		top:30px;
		color:black;
		width: 100%;
		height: 100%;
		padding: 50px 0;
	}
#aboutTopBg {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	&::before {
		background-color: black;
	    opacity: 0.8;
	    content: '';
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
}
.transparent {
	background: transparent;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	z-index: 2;
	text-align:center;
	// position:absolute;
	// top:100px;
	color:black;
}
#aboutCatch {
	position:relative;
	width: 100%;
	.aboutHeadline {
		position:absolute;
		top:100px;
		display:inline-block;
		color:black;
		font-size: 50px;
		padding:50px;
		z-index: 3;
		h1 {
			color:black;
			font-size: 50px;
		}
	}
}
#aboutMap {
	width: 100%;
	height: 100%;
	position:relative;
	&::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index:2;
  }
}
#aboutCheck {
	background-color: #E6C3D5;
	width: 100%;
}
#aboutPlan {
	background-color: lightgray;
	width: 100%;
}
#aboutFly {
	background-color: #E6C3D5;
	width: 100%;
}
#aboutAction {
	background-color: white;
	position:relative;
	width: 100%;
	h1, p {
		color:white;
	}
	color:white;
}
#aboutActionBg {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	&::before{
		background-color: black;
	    opacity: 0.8;
	    content: '';
	    height: 100%;
	    width: 100%;
	    position: absolute;
	}
}
#aboutNav {
	z-index: 5000;
	position:fixed;
	top:150px;
	right:0;
	height:470px;
	width:50px;
}
.verticalAboutNavContainer{
	width:50px;
	margin:0;
	position:fixed;
	top:140px;
	right:0;
	text-align:center;
}
.verticalAboutNavInner {
	width:50px;
	margin:10px 5px;
}
.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.1);
  }
  .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    margin: auto;
  }
}
//******************* ABOUT *******************
//******************* ABOUT *******************

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	#myMapUser {
		height: 300px;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	#myMapUser {
		height: 200px;
	}
}



