// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapVenuesIndex {
	height: 800px;
    width: 100%;
}
#mapVenueShow {
	height: 500px;
    width: 100%;
}