// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PARTIAL
#address {
		margin: 5px 0;
		width: 100%;
	}
	#encodeBtn {
		margin: 5px auto;
	}
.venueContainer {
	height:40px;
	padding: 10px 20px;
    margin: 5px 0;
    box-shadow: 0 0 10px lightgrey;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
		width: 100%;
    }
}
#venueContainerVenueName {
	width:300px;
	font-size:18px;
	font-weight:300;
	display: inline-block;
}
#venueContainerSpFlex {
	text-align: right;
	display: inline-block;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	p {
		display: inline-block;
    	width: 30px;
    	margin: 0;
	}
}
#venueContainerVenueCity {
	display: inline-block;
	font-size:12px;
}
#venueContainerVenueCountry {
	display: inline-block;
	font-size:12px;
}
#venueContainerConcertCount {
	display: flex;
	flex-direction: row;
}
// PARTIAL

#mapVenuesIndex {
	height: 800px;
    width: 100%;
}
#mapVenueShow {
	height: 500px;
    width: 100%;
}
#encodeBtn {
	width:110%;
}
.venueColumn {
	color: white;
	text-shadow: 0.5px 0.5px white;
	&:hover {
		box-shadow: 0 0 10px lightgray;
		border: 0.3px inset lightgray;
		opacity: 1;
	    text-decoration: none;
	    text-shadow: 0.5px 0.5px lightgray;
	}
	&::before{
	      background-color: black;
	    opacity: 0.8;
	    content: '';
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    &:hover {
	    	box-shadow: 0 0 10px lightgray;
	    }
	}
}
.venueColumnText {
	color: white;
	text-shadow: 0.5px 0.5px white;
	&:hover {
		text-decoration: none;
	    text-shadow: 0.5px 0.5px lightgray;
	}
}

// SHOW
.venuesShowLocations {
	margin: 10px;
	font-weight: 100;
	display: flex;
    align-items: center;
	i {
		display: inline-block;
	}
	div {
		display: block;
		div {
			margin: 10px;
		}
	}
}
.venuesShowHeadBlock {
	background-color: lightgray;
	color: black;
	list-style: none;
	text-align: center;
	padding: 20px 25px 15px 25px;
	margin: 0;
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	box-shadow: 0 0 10px lightgray;
	.venuesShowHeadBlockCity {
		font-size: 30px;
		box-shadow: none;
		font-weight: 100;
	}
	.venuesShowHeadBlockCountry {
		font-size: 22px;
		box-shadow: none;
		font-weight: 100;
	}
}
.venuesShowLatLng {
	.venuesShowLatLngWrap {
		margin: 5px;
		p {
			display: inline-block;
			margin: 0;
		}
	}
}

 /* 〜800px：
------------------------------ */
@media screen and (max-width:800px) {
	h1 {
		margin: 0 0 30px 0;
	}
	// INDEX ******************************************
	.venueContainer {
	}
	#address {
		width: 90%;
	}
	#encodeBtn {
		width: 97%;
	}
	#venueContainerVenueName {
    // line-height: 0.8rem;
    // font-size: 0.9rem;
	}
	#venueContainerSpFlex {
		// text-align: right;
	 //    display: flex;
	 //    flex-direction: row;
	 //    justify-content: flex-end;
	    .svg-inline--fa.fa-w-16 {
		    width: 0.6rem;
		}
	    p {
		    font-size: 0.6rem;
	    }
	}
	#venueContainerVenueCity, #venueContainerVenueCountry {
		font-size: 0.6rem;
		width: auto;
		display: inline-block;
	}
	#mapVenuesIndex {
		height: 400px;
	    width: 100%;
	}
	// SHOW
	#mapVenueShow {
		height: 300px;
	}
	.venuesShowLatLng {
		.venuesShowLatLngWrap {
			text-align: right;
		}
	}
	#venuesShowConcerts {
		margin: 30px 0;
	}
}

 /* 〜500px：
------------------------------ */
@media screen and (max-width:500px) {
	.venueContainer {
		// display: block;
	}
	#address {
		width: 90%;
	}
	#encodeBtn {
		width: 97%;
	}
	#venueContainerVenueName {
	width: 100%;
	display: inline-block;
	line-height: 0.9rem;
	font-size: 0.8rem;
	}
	#venueContainerSpFlex {
		text-align: right;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
	    .svg-inline--fa.fa-w-16 {
		    width: 0.6rem;
		}
	    p {
		    font-size: 0.6rem;
		    width: auto;
	    }
	}
	#venueContainerVenueCity, #venueContainerVenueCountry {
		font-size: 0.6rem;
		width: auto;
		display: inline-block;
	}
	#mapVenuesIndex {
		height: 200px;
	    width: 100%;
	}
	// SHOW
	#mapVenueShow {
		height: 250px;
	}
	.venuesShowLocations {
		div {
			div {
				    font-size: 0.8rem;
				    line-height: 0.8rem;
			}
		}
	}
	.venuesShowLatLng {
		.venuesShowLatLngWrap {
			text-align: right;
		}
	}
}
